body {
    font-family: SourceCodePro, monospace;
    overflow: hidden;
}

#results {
    font-family: SourceCodePro, monospace;
    margin: 2em;
}

.status {
    padding-left:.8em;
    padding-top:.4em;
}
