#results {
    font-family: SourceCodePro, monospace;
    margin: 2em;
}

#editor {
    resize: vertical;
    overflow: auto;
}

.selected {
    background-color: lightgrey;
    border-radius: 20%;
}
