html, body {
    margin: 0;
    height: 100%
}

#content, #main, #root {
    height: 100%;
}
  
body {
    font-family: SourceCodePro, monospace;
    height: 100%;
}

#results {
    font-family: SourceCodePro, monospace;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
}

.gutter-row-1 {
    grid-row: 2;
}
