html, body {
    margin: 0;
    height: 100%
}

#content, #main, #root {
    height: 100%;
}
  
body {
    font-family: SourceCodePro, monospace;
    height: 100%;
}

#results {
    font-family: SourceCodePro, monospace;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
