html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
}

#main {
  display: grid;
}

.container {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#editor {
}

.cm-editor {
}

textarea {
  resize: none;
}

.result {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  padding: 20px;
}